.main_color {
    background-color: #91c642;
    color: white;
    border: none;
}

.main_color:hover {
    background-color: #6f9a32;
}   

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}

.card-custom {
    --bs-card-bg: #00FFFF;
}