.bg-cover {
    background-image: url("./login_images/tasty_vegetables_salad-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-blur-layer {
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(4px);

    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-search-cover {
    background-image: url("./search_images/bread_and_wheat_food-wallpaper-1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.favorites-image {
    background-image: url("./login_images/orange_food-wallpaper-1920x1080.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.favorites-blur {
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(4px);

    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main_color {
    background-color: #91c642;
    color: white;
    border: none;
}

.main_color:hover {
    background-color: #6f9a32;
}   

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}

.bg-cover-detail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-custom {
    --bs-card-bg: #00FFFF;
}